.feedbacktable {
    word-wrap: break-word;
}

@media only screen and (min-width:1024px) and (max-width:1130px) {
    .feedbackcol:nth-child(1) {
        width: 50px !important;
    }
    .feedbackcol:nth-child(2) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(3) {
        width: 120px !important;
    }
    .feedbackcol:nth-child(4) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(5) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(6) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(7) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(8) {
        width: 100px !important;
    }
}

@media only screen and (min-width:1131px) and (max-width:1200px) {
    .feedbackcol:nth-child(1) {
        width: 50px !important;
    }
    .feedbackcol:nth-child(2) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(3) {
        width: 145px !important;
    }
    .feedbackcol:nth-child(4) {
        width: 150px !important;
    }
    .feedbackcol:nth-child(5) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(6) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(7) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(8) {
        width: 100px !important;
    }
}

@media only screen and (min-width:1201px) and (max-width:1250px) {
    .feedbackcol:nth-child(1) {
        width: 50px !important;
    }
    .feedbackcol:nth-child(2) {
        width: 150px !important;
    }
    .feedbackcol:nth-child(3) {
        width: 150px !important;
    }
    .feedbackcol:nth-child(4) {
        width: 110px !important;
    }
    .feedbackcol:nth-child(5) {
        width: 200px !important;
    }
    .feedbackcol:nth-child(6) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(7) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(8) {
        width: 100px !important;
    }
}

@media only screen and (min-width:1251px) and (max-width:1300px) {
    .feedbackcol:nth-child(1) {
        width: 50px !important;
    }
    .feedbackcol:nth-child(2) {
        width: 150px !important;
    }
    .feedbackcol:nth-child(3) {
        width: 170px !important;
    }
    .feedbackcol:nth-child(4) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(5) {
        width: 250px !important;
    }
    .feedbackcol:nth-child(6) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(7) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(8) {
        width: 100px !important;
    }
}

@media only screen and (min-width:1301px) and (max-width:1349px) {
    .feedbackcol:nth-child(1) {
        width: 50px !important;
    }
    .feedbackcol:nth-child(2) {
        width: 140px !important;
    }
    .feedbackcol:nth-child(3) {
        width: 200px !important;
    }
    .feedbackcol:nth-child(4) {
        width: 110px !important;
    }
    .feedbackcol:nth-child(5) {
        width: 250px !important;
    }
    .feedbackcol:nth-child(6) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(7) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(8) {
        width: 100px !important;
    }
}

@media only screen and (min-width:1350px) {
    .feedbackcol:nth-child(1) {
        width: 50px !important;
    }
    .feedbackcol:nth-child(2) {
        width: 150px !important;
    }
    .feedbackcol:nth-child(3) {
        width: 200px !important;
    }
    .feedbackcol:nth-child(4) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(5) {
        width: 300px !important;
    }
    .feedbackcol:nth-child(6) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(7) {
        width: 100px !important;
    }
    .feedbackcol:nth-child(8) {
        width: 100px !important;
    }
}


/*******************************
    for viewfeedback message style
********************************/

.feedbackviewbox {
    padding: 0;
    border: 1px solid black;
    padding-top: 1rem;
    .row:first-child {
        margin-bottom: 0px !important;
    }
}

.messagebox {
    border: 1px solid gray;
    height: 20rem;
    padding: 1.2rem;
    text-indent: 30px;
}

.viewbuttons {
    float: right;
    margin: .9rem;
    margin-top: 1.2rem;
}

.text {
    padding-left: 3rem !important;
}