.imagefile {
    display: none;
}

#bestsellercarousel {
    height: 300px;
    .carousel {
        height: 100%;
    }
}

.sellertitle {
    h3 {
        font-size: 2em;
    }
}

.producttitle {
    font-size: 1em;
}


/* @media only screen and (min-width:1024px) {
    .slider {
        height: 500px !important;
    }
}*/