.pageslinks {
    nav {
        ul {
    
            li {
                width: 100% !important;
                text-align: center !important;
                display: block;
                a {
                   
                    color:#000;
                    
                }
            }
        }
    }
}